*.keras filter=lfs diff=lfs merge=lfs -text
backend/plant_disease_recog_model.tflite filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
